**/node_modules/**
**/static/**
**/fonts/**
/assets-src
/.idea
/.github

docker
Dockerfile*
LICENSE
package.json
package-lock.json

.cache

*.lock.json
*.png
*.toml
*.lock
*.css
*.log
*.md
*.sql
*.min.css
**/*.svg

.DS_Store
.dockerignore
.editorconfig
.eslintcache
.eslintignore
.gitignore
.prettierignore
